@charset "utf-8";

/* import/components/_button.scss */

//상단간격
.empty_top {
  margin-top:10px;
}

.btn_wrap + .btn_wrap [class*=btn_theme] li,
.r + .r .btn_wrap [class*=btn_theme] li {
  border-top:0;
}

.btn_theme {
  display: flex;
  display: -webkit-box;
}
.btn_theme:after,
[class*=btn_theme_]:after {
  display: block;
  clear: both;
  content: ''
}
.btn_theme li {
  flex: 1;
  -webkit-box-flex: 1;
  position: relative;
  float: left;
  width: 33.33%;
  border: 1px solid rgba(0, 0, 0, .07);
  box-sizing: border-box;
  -webkit-box-sizing: border-box
}
[class*=btn_theme] li + li {
  border-left: 0
}
[class*=btn_theme] li:first-child {
  border-left: 0;
}
[class*=btn_theme] li:last-of-type,
[class*=btn_theme] li:only-child {
  border-right: 0
}
.btn_theme li .btn {
  display: block;
  position: relative;
  height: 104px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis
}
.btn_theme li .in {
  overflow: hidden;
  padding-top: 60px
}

//ie8 재정의
.ie8{
  .btn_wrap li {
    border:1px solid #cacccf
  }
  &+li{
    border-left:0
  }
}

// 리스트형
[class*=btn_theme_]{display:-webkit-box;-webkit-box-orient:vertical}
[class*=btn_theme_] li{position:relative;width:100%;border:1px solid rgba(0,0,0,.07);box-sizing:border-box;-webkit-box-sizing:border-box}
[class*=btn_theme_] li .btn{display:block;overflow:hidden;position:relative;height:45px;padding:0 30px 0 45px;font-size:15px;text-align:left;white-space:nowrap;line-height:46px;color:#fff}
[class*=btn_theme_] li .in{overflow:hidden;width:100%}
[class*=btn_theme_] li .ic{margin-left:1px}
[class*=btn_theme_].btn_type_v2{-webkit-box-orient:horizontal}
[class*=btn_theme_].btn_type_v2 li{width:50%;float:left}
[class*=btn_theme_] li .btn:after{
  @include setSprite($sp_m_button-list_arrow_set);

  position:absolute;top:16px;right:20px;content:''
}
.btn_type_l [class*=btn_theme] li .btn{background-color:#fff}
.btn_type_l [class*=btn_theme_] li .btn:after{
  @include setSprite($sp_m_button-list_arrow_line);
}

.btn_wrap .endOfRow{position:absolute;top:0;right:0}

// 아이콘 없음_리스트형
.btn_theme_v2 .btn.icon_none{padding:0 30px 0 20px}
.btn_theme_v2 .icon_none .ic{display:none}

// 꽉찬형 theme_a
[class*=btn_set] [class*=btn_theme_] .theme_a{background-color:#fff}
[class*=btn_set] [class*=btn_theme_] .theme_a .btn:after{
  @include setSprite($sp_m_button-list_arrow_line);
}
[class*=btn_line] [class*=btn_theme_] .theme_a .edit_input{color:#fff}

// 라인형 theme_a
[class*=btn_line] [class*=btn_theme_] .theme_a .btn:after{
  @include setSprite($sp_m_button-list_arrow_set);
}
[class*=btn_line] [class*=btn_theme_] .theme_a .btn{color:#fff}
[class*=btn_set] .btn_theme .theme_a .in{color:#fff}

// 타일형 아이콘
.btn_theme li, .btn_theme .theme_a{
  [class*=btn_] .ic{position:absolute;left:50%;top:19px;margin-left:-17px}

  // 꽉찬형
  .btn_ic .ic {
    @include setSprite($sp_m_button-tile_set);
  }
  .btn_ic2 .ic {
    @include setSprite($sp_m_button-tile_set2);
  }
  .btn_ic3 .ic {
    @include setSprite($sp_m_button-tile_set3);
  }
  .btn_ic4 .ic {
    @include setSprite($sp_m_button-tile_set4);
  }
  .btn_ic5 .ic {
    @include setSprite($sp_m_button-tile_set5);
  }
  .btn_ic6 .ic {
    @include setSprite($sp_m_button-tile_set6);
  }
  .btn_ic7 .ic {
    @include setSprite($sp_m_button-tile_set7);
  }
  .btn_ic8 .ic {
    @include setSprite($sp_m_button-tile_set8);
  }
  .btn_ic9 .ic {
    @include setSprite($sp_m_button-tile_set9);
  }
  .btn_ic10 .ic {
    @include setSprite($sp_m_button-tile_set10);
  }
  .btn_ic11 .ic {
    @include setSprite($sp_m_button-tile_set11);
  }
  .btn_ic12 .ic {
    @include setSprite($sp_m_button-tile_set12);
  }
  .btn_ic13 .ic {
    @include setSprite($sp_m_button-tile_set13);
  }
  .btn_ic14 .ic {
    @include setSprite($sp_m_button-tile_set14);
  }
  .btn_ic15 .ic {
    @include setSprite($sp_m_button-tile_set15);
  }
  .btn_ic16 .ic {
    @include setSprite($sp_m_button-tile_set16);
  }
  .btn_ic17 .ic {
    @include setSprite($sp_m_button-tile_set17);
  }
  .btn_ic18 .ic {
    @include setSprite($sp_m_button-tile_set18);
  }
  .btn_ic19 .ic {
    @include setSprite($sp_m_button-tile_set19);
  }
  .btn_ic20 .ic {
    @include setSprite($sp_m_button-tile_set20);
  }
  .btn_ic21 .ic {
    @include setSprite($sp_m_button-tile_set21);
  }
  .btn_ic22 .ic {
    @include setSprite($sp_m_button-tile_set22);
  }
  .btn_ic23 .ic {
    @include setSprite($sp_m_button-tile_set23);
  }
  .btn_ic24 .ic {
    @include setSprite($sp_m_button-tile_set24);
  }
  .btn_ic25 .ic {
    @include setSprite($sp_m_button-tile_set25);
  }
  .btn_ic26 .ic {
    @include setSprite($sp_m_button-tile_set26);
  }
  .btn_ic27 .ic {
    @include setSprite($sp_m_button-tile_set27);
  }
  .btn_ic28 .ic {
    @include setSprite($sp_m_button-tile_set28);
  }
  .btn_ic29 .ic {
    @include setSprite($sp_m_button-tile_set29);
  }
  .btn_ic30 .ic {
    @include setSprite($sp_m_button-tile_set30);
  }
  .btn_ic31 .ic {
    @include setSprite($sp_m_button-tile_set31);
  }
  .btn_ic32 .ic {
    @include setSprite($sp_m_button-tile_set32);
  }
  .btn_ic33 .ic {
    @include setSprite($sp_m_button-tile_set33);
  }
  .btn_ic34 .ic {
    @include setSprite($sp_m_button-tile_set34);
  }
  .btn_ic35 .ic {
    @include setSprite($sp_m_button-tile_set35);
  }
  .btn_ic36 .ic {
    @include setSprite($sp_m_button-tile_set36);
  }
  .btn_ic37 .ic {
    @include setSprite($sp_m_button-tile_set37);
  }
  .btn_ic38 .ic {
    @include setSprite($sp_m_button-tile_set38);
  }
  .btn_ic39 .ic {
    @include setSprite($sp_m_button-tile_set39);
  }
  .btn_ic40 .ic {
    @include setSprite($sp_m_button-tile_set40);
  }
  .btn_ic41 .ic {
    @include setSprite($sp_m_button-tile_set41);
  }
  .btn_ic42 .ic {
    @include setSprite($sp_m_button-tile_set42);
  }
  // 라인형
  .btn_type_l & .btn_ic .ic {
    @include setSprite($sp_m_button-tile_line);
  }
  .btn_type_l & .btn_ic2 .ic {
    @include setSprite($sp_m_button-tile_line2);
  }
  .btn_type_l & .btn_ic3 .ic {
    @include setSprite($sp_m_button-tile_line3);
  }
  .btn_type_l & .btn_ic4 .ic {
    @include setSprite($sp_m_button-tile_line4);
  }
  .btn_type_l & .btn_ic5 .ic {
    @include setSprite($sp_m_button-tile_line5);
  }
  .btn_type_l & .btn_ic6 .ic {
    @include setSprite($sp_m_button-tile_line6);
  }
  .btn_type_l & .btn_ic7 .ic {
    @include setSprite($sp_m_button-tile_line7);
  }
  .btn_type_l & .btn_ic8 .ic {
    @include setSprite($sp_m_button-tile_line8);
  }
  .btn_type_l & .btn_ic9 .ic {
    @include setSprite($sp_m_button-tile_line9);
  }
  .btn_type_l & .btn_ic10 .ic {
    @include setSprite($sp_m_button-tile_line10);
  }
  .btn_type_l & .btn_ic11 .ic {
    @include setSprite($sp_m_button-tile_line11);
  }
  .btn_type_l & .btn_ic12 .ic {
    @include setSprite($sp_m_button-tile_line12);
  }
  .btn_type_l & .btn_ic13 .ic {
    @include setSprite($sp_m_button-tile_line13);
  }
  .btn_type_l & .btn_ic14 .ic {
    @include setSprite($sp_m_button-tile_line14);
  }
  .btn_type_l & .btn_ic15 .ic {
    @include setSprite($sp_m_button-tile_line15);
  }
  .btn_type_l & .btn_ic16 .ic {
    @include setSprite($sp_m_button-tile_line16);
  }
  .btn_type_l & .btn_ic17 .ic {
    @include setSprite($sp_m_button-tile_line17);
  }
  .btn_type_l & .btn_ic18 .ic {
    @include setSprite($sp_m_button-tile_line18);
  }
  .btn_type_l & .btn_ic19 .ic {
    @include setSprite($sp_m_button-tile_line19);
  }
  .btn_type_l & .btn_ic20 .ic {
    @include setSprite($sp_m_button-tile_line20);
  }
  .btn_type_l & .btn_ic21 .ic {
    @include setSprite($sp_m_button-tile_line21);
  }
  .btn_type_l & .btn_ic22 .ic {
    @include setSprite($sp_m_button-tile_line22);
  }
  .btn_type_l & .btn_ic23 .ic {
    @include setSprite($sp_m_button-tile_line23);
  }
  .btn_type_l & .btn_ic24 .ic {
    @include setSprite($sp_m_button-tile_line24);
  }
  .btn_type_l & .btn_ic25 .ic {
    @include setSprite($sp_m_button-tile_line25);
  }
  .btn_type_l & .btn_ic26 .ic {
    @include setSprite($sp_m_button-tile_line26);
  }
  .btn_type_l & .btn_ic27 .ic {
    @include setSprite($sp_m_button-tile_line27);
  }
  .btn_type_l & .btn_ic28 .ic {
    @include setSprite($sp_m_button-tile_line28);
  }
  .btn_type_l & .btn_ic29 .ic {
    @include setSprite($sp_m_button-tile_line29);
  }
  .btn_type_l & .btn_ic30 .ic {
    @include setSprite($sp_m_button-tile_line30);
  }
  .btn_type_l & .btn_ic31 .ic {
    @include setSprite($sp_m_button-tile_line31);
  }
  .btn_type_l & .btn_ic32 .ic {
    @include setSprite($sp_m_button-tile_line32);
  }
  .btn_type_l & .btn_ic33 .ic {
    @include setSprite($sp_m_button-tile_line33);
  }
  .btn_type_l & .btn_ic34 .ic {
    @include setSprite($sp_m_button-tile_line34);
  }
  .btn_type_l & .btn_ic35 .ic {
    @include setSprite($sp_m_button-tile_line35);
  }
  .btn_type_l & .btn_ic36 .ic {
    @include setSprite($sp_m_button-tile_line36);
  }
  .btn_type_l & .btn_ic37 .ic {
    @include setSprite($sp_m_button-tile_line37);
  }
  .btn_type_l & .btn_ic38 .ic {
    @include setSprite($sp_m_button-tile_line38);
  }
  .btn_type_l & .btn_ic39 .ic {
    @include setSprite($sp_m_button-tile_line39);
  }
  .btn_type_l & .btn_ic40 .ic {
    @include setSprite($sp_m_button-tile_line40);
  }
  .btn_type_l & .btn_ic41 .ic {
    @include setSprite($sp_m_button-tile_line41);
  }
  .btn_type_l & .btn_ic42 .ic {
    @include setSprite($sp_m_button-tile_line42);
  }
}

// 리스트형 아이콘
.btn_theme_v2 {
  li, .btn_type_l & .theme_a {
    [class*=btn_] .ic{position:absolute;top:0;left:0;width:41px;height:44px}
  }
  // 꽉찬형
  .btn_ic .ic, .btn_type_l & .theme_a .btn_ic .ic {
    @include setSprite($sp_m_button-list_set);
  }
  .btn_ic2 .ic, .btn_type_l & .theme_a .btn_ic2 .ic {
    @include setSprite($sp_m_button-list_set2);
  }
  .btn_ic3 .ic, .btn_type_l & .theme_a .btn_ic3 .ic {
    @include setSprite($sp_m_button-list_set3);
  }
  .btn_ic4 .ic, .btn_type_l & .theme_a .btn_ic4 .ic {
    @include setSprite($sp_m_button-list_set4);
  }
  .btn_ic5 .ic, .btn_type_l & .theme_a .btn_ic5 .ic {
    @include setSprite($sp_m_button-list_set5);
  }
  .btn_ic6 .ic, .btn_type_l & .theme_a .btn_ic6 .ic {
    @include setSprite($sp_m_button-list_set6);
  }
  .btn_ic7 .ic, .btn_type_l & .theme_a .btn_ic7 .ic {
    @include setSprite($sp_m_button-list_set7);
  }
  .btn_ic8 .ic, .btn_type_l & .theme_a .btn_ic8 .ic {
    @include setSprite($sp_m_button-list_set8);
  }
  .btn_ic9 .ic, .btn_type_l & .theme_a .btn_ic9 .ic {
    @include setSprite($sp_m_button-list_set9);
  }
  .btn_ic10 .ic, .btn_type_l & .theme_a .btn_ic10 .ic {
    @include setSprite($sp_m_button-list_set10);
  }
  .btn_ic11 .ic, .btn_type_l & .theme_a .btn_ic11 .ic {
    @include setSprite($sp_m_button-list_set11);
  }
  .btn_ic12 .ic, .btn_type_l & .theme_a .btn_ic12 .ic {
    @include setSprite($sp_m_button-list_set12);
  }
  .btn_ic13 .ic, .btn_type_l & .theme_a .btn_ic13 .ic {
    @include setSprite($sp_m_button-list_set13);
  }
  .btn_ic14 .ic, .btn_type_l & .theme_a .btn_ic14 .ic {
    @include setSprite($sp_m_button-list_set14);
  }
  .btn_ic15 .ic, .btn_type_l & .theme_a .btn_ic15 .ic {
    @include setSprite($sp_m_button-list_set15);
  }
  .btn_ic16 .ic, .btn_type_l & .theme_a .btn_ic16 .ic {
    @include setSprite($sp_m_button-list_set16);
  }
  .btn_ic17 .ic, .btn_type_l & .theme_a .btn_ic17 .ic {
    @include setSprite($sp_m_button-list_set17);
  }
  .btn_ic18 .ic, .btn_type_l & .theme_a .btn_ic18 .ic {
    @include setSprite($sp_m_button-list_set18);
  }
  .btn_ic19 .ic, .btn_type_l & .theme_a .btn_ic19 .ic {
    @include setSprite($sp_m_button-list_set19);
  }
  .btn_ic20 .ic, .btn_type_l & .theme_a .btn_ic20 .ic {
    @include setSprite($sp_m_button-list_set20);
  }
  .btn_ic21 .ic, .btn_type_l & .theme_a .btn_ic21 .ic {
    @include setSprite($sp_m_button-list_set21);
  }
  .btn_ic22 .ic, .btn_type_l & .theme_a .btn_ic22 .ic {
    @include setSprite($sp_m_button-list_set22);
  }
  .btn_ic23 .ic, .btn_type_l & .theme_a .btn_ic23 .ic {
    @include setSprite($sp_m_button-list_set23);
  }
  .btn_ic24 .ic, .btn_type_l & .theme_a .btn_ic24 .ic {
    @include setSprite($sp_m_button-list_set24);
  }
  .btn_ic25 .ic, .btn_type_l & .theme_a .btn_ic25 .ic {
    @include setSprite($sp_m_button-list_set25);
  }
  .btn_ic26 .ic, .btn_type_l & .theme_a .btn_ic26 .ic {
    @include setSprite($sp_m_button-list_set26);
  }
  .btn_ic27 .ic, .btn_type_l & .theme_a .btn_ic27 .ic {
    @include setSprite($sp_m_button-list_set27);
  }
  .btn_ic28 .ic, .btn_type_l & .theme_a .btn_ic28 .ic {
    @include setSprite($sp_m_button-list_set28);
  }
  .btn_ic29 .ic, .btn_type_l & .theme_a .btn_ic29 .ic {
    @include setSprite($sp_m_button-list_set29);
  }
  .btn_ic30 .ic, .btn_type_l & .theme_a .btn_ic30 .ic {
    @include setSprite($sp_m_button-list_set30);
  }
  .btn_ic31 .ic, .btn_type_l & .theme_a .btn_ic31 .ic {
    @include setSprite($sp_m_button-list_set31);
  }
  .btn_ic32 .ic, .btn_type_l & .theme_a .btn_ic32 .ic {
    @include setSprite($sp_m_button-list_set32);
  }
  .btn_ic33 .ic, .btn_type_l & .theme_a .btn_ic33 .ic {
    @include setSprite($sp_m_button-list_set33);
  }
  .btn_ic34 .ic, .btn_type_l & .theme_a .btn_ic34 .ic {
    @include setSprite($sp_m_button-list_set34);
  }
  .btn_ic35 .ic, .btn_type_l & .theme_a .btn_ic35 .ic {
    @include setSprite($sp_m_button-list_set35);
  }
  .btn_ic36 .ic, .btn_type_l & .theme_a .btn_ic36 .ic {
    @include setSprite($sp_m_button-list_set36);
  }
  .btn_ic37 .ic, .btn_type_l & .theme_a .btn_ic37 .ic {
    @include setSprite($sp_m_button-list_set37);
  }
  .btn_ic38 .ic, .btn_type_l & .theme_a .btn_ic38 .ic {
    @include setSprite($sp_m_button-list_set38);
  }
  .btn_ic39 .ic, .btn_type_l & .theme_a .btn_ic39 .ic {
    @include setSprite($sp_m_button-list_set39);
  }
  .btn_ic40 .ic, .btn_type_l & .theme_a .btn_ic40 .ic {
    @include setSprite($sp_m_button-list_set40);
  }
  .btn_ic41 .ic, .btn_type_l & .theme_a .btn_ic41 .ic {
    @include setSprite($sp_m_button-list_set41);
  }
  .btn_ic42 .ic, .btn_type_l & .theme_a .btn_ic42 .ic {
    @include setSprite($sp_m_button-list_set42);
  }
  // 라인형
  .btn_type_l & .btn_ic .ic, .theme_a .btn_ic .ic {
    @include setSprite($sp_m_button-list_line);
  }
  .btn_type_l & .btn_ic2 .ic, .theme_a .btn_ic2 .ic {
    @include setSprite($sp_m_button-list_line2);
  }
  .btn_type_l & .btn_ic3 .ic, .theme_a .btn_ic3 .ic {
    @include setSprite($sp_m_button-list_line3);
  }
  .btn_type_l & .btn_ic4 .ic, .theme_a .btn_ic4 .ic {
    @include setSprite($sp_m_button-list_line4);
  }
  .btn_type_l & .btn_ic5 .ic, .theme_a .btn_ic5 .ic {
    @include setSprite($sp_m_button-list_line5);
  }
  .btn_type_l & .btn_ic6 .ic, .theme_a .btn_ic6 .ic {
    @include setSprite($sp_m_button-list_line6);
  }
  .btn_type_l & .btn_ic7 .ic, .theme_a .btn_ic7 .ic {
    @include setSprite($sp_m_button-list_line7);
  }
  .btn_type_l & .btn_ic8 .ic, .theme_a .btn_ic8 .ic {
    @include setSprite($sp_m_button-list_line8);
  }
  .btn_type_l & .btn_ic9 .ic, .theme_a .btn_ic9 .ic {
    @include setSprite($sp_m_button-list_line9);
  }
  .btn_type_l & .btn_ic10 .ic, .theme_a .btn_ic10 .ic {
    @include setSprite($sp_m_button-list_line10);
  }
  .btn_type_l & .btn_ic11 .ic, .theme_a .btn_ic11 .ic {
    @include setSprite($sp_m_button-list_line11);
  }
  .btn_type_l & .btn_ic12 .ic, .theme_a .btn_ic12 .ic {
    @include setSprite($sp_m_button-list_line12);
  }
  .btn_type_l & .btn_ic13 .ic, .theme_a .btn_ic13 .ic {
    @include setSprite($sp_m_button-list_line13);
  }
  .btn_type_l & .btn_ic14 .ic, .theme_a .btn_ic14 .ic {
    @include setSprite($sp_m_button-list_line14);
  }
  .btn_type_l & .btn_ic15 .ic, .theme_a .btn_ic15 .ic {
    @include setSprite($sp_m_button-list_line15);
  }
  .btn_type_l & .btn_ic16 .ic, .theme_a .btn_ic16 .ic {
    @include setSprite($sp_m_button-list_line16);
  }
  .btn_type_l & .btn_ic17 .ic, .theme_a .btn_ic17 .ic {
    @include setSprite($sp_m_button-list_line17);
  }
  .btn_type_l & .btn_ic18 .ic, .theme_a .btn_ic18 .ic {
    @include setSprite($sp_m_button-list_line18);
  }
  .btn_type_l & .btn_ic19 .ic, .theme_a .btn_ic19 .ic {
    @include setSprite($sp_m_button-list_line19);
  }
  .btn_type_l & .btn_ic20 .ic, .theme_a .btn_ic20 .ic {
    @include setSprite($sp_m_button-list_line20);
  }
  .btn_type_l & .btn_ic21 .ic, .theme_a .btn_ic21 .ic {
    @include setSprite($sp_m_button-list_line21);
  }
  .btn_type_l & .btn_ic22 .ic, .theme_a .btn_ic22 .ic {
    @include setSprite($sp_m_button-list_line22);
  }
  .btn_type_l & .btn_ic23 .ic, .theme_a .btn_ic23 .ic {
    @include setSprite($sp_m_button-list_line23);
  }
  .btn_type_l & .btn_ic24 .ic, .theme_a .btn_ic24 .ic {
    @include setSprite($sp_m_button-list_line24);
  }
  .btn_type_l & .btn_ic25 .ic, .theme_a .btn_ic25 .ic {
    @include setSprite($sp_m_button-list_line25);
  }
  .btn_type_l & .btn_ic26 .ic, .theme_a .btn_ic26 .ic {
    @include setSprite($sp_m_button-list_line26);
  }
  .btn_type_l & .btn_ic27 .ic, .theme_a .btn_ic27 .ic {
    @include setSprite($sp_m_button-list_line27);
  }
  .btn_type_l & .btn_ic28 .ic, .theme_a .btn_ic28 .ic {
    @include setSprite($sp_m_button-list_line28);
  }
  .btn_type_l & .btn_ic29 .ic, .theme_a .btn_ic29 .ic {
    @include setSprite($sp_m_button-list_line29);
  }
  .btn_type_l & .btn_ic30 .ic, .theme_a .btn_ic30 .ic {
    @include setSprite($sp_m_button-list_line30);
  }
  .btn_type_l & .btn_ic31 .ic, .theme_a .btn_ic31 .ic {
    @include setSprite($sp_m_button-list_line31);
  }
  .btn_type_l & .btn_ic32 .ic, .theme_a .btn_ic32 .ic {
    @include setSprite($sp_m_button-list_line32);
  }
  .btn_type_l & .btn_ic33 .ic, .theme_a .btn_ic33 .ic {
    @include setSprite($sp_m_button-list_line33);
  }
  .btn_type_l & .btn_ic34 .ic, .theme_a .btn_ic34 .ic {
    @include setSprite($sp_m_button-list_line34);
  }
  .btn_type_l & .btn_ic35 .ic, .theme_a .btn_ic35 .ic {
    @include setSprite($sp_m_button-list_line35);
  }
  .btn_type_l & .btn_ic36 .ic, .theme_a .btn_ic36 .ic {
    @include setSprite($sp_m_button-list_line36);
  }
  .btn_type_l & .btn_ic37 .ic, .theme_a .btn_ic37 .ic {
    @include setSprite($sp_m_button-list_line37);
  }
  .btn_type_l & .btn_ic38 .ic, .theme_a .btn_ic38 .ic {
    @include setSprite($sp_m_button-list_line38);
  }
  .btn_type_l & .btn_ic39 .ic, .theme_a .btn_ic39 .ic {
    @include setSprite($sp_m_button-list_line39);
  }
  .btn_type_l & .btn_ic40 .ic, .theme_a .btn_ic40 .ic {
    @include setSprite($sp_m_button-list_line40);
  }
  .btn_type_l & .btn_ic41 .ic, .theme_a .btn_ic41 .ic {
    @include setSprite($sp_m_button-list_line41);
  }
  .btn_type_l & .btn_ic42 .ic, .theme_a .btn_ic42 .ic {
    @include setSprite($sp_m_button-list_line42);
  }
}

//테마색상
//버튼 꽉찬형
@each $color in $ThemeColor {
  $i: index($ThemeColor, $color);
  .btn_set#{$i} [class*=btn_theme] {
    li,
    .theme_a .btn .ic,
    .theme_a .btn:after {
      background-color: $color;
    }
    .theme_a .btn{
      color: $color;
    }
  }
  .btn_set#{$i} [class*=btn_theme_] {
    .theme_a .edit_input {
      color: $color;
    }
  }
}

//버튼 라인형
@each $color in $ThemeColor {
  $i: index($ThemeColor, $color);
  .btn_line#{$i} {
    [class*=btn_theme] li .btn:after,
    [class*=btn_theme] .btn .ic,
    [class*=btn_theme] .theme_a .ic,
    [class*=btn_theme_] .theme_a .btn {
      background-color: $color;
    }
    [class*=btn_theme] li .btn,
    [class*=btn_theme] li .edit_input {
      color: $color;
    }
  }
}
