@charset "utf-8";

/* import/components/_image_type3.scss */
//3단 이미지
.gallery_area {
	&.type3 {
		ul {
			@if $DEVICE == 'pc'{
				margin: 0;
			} @else {
				margin: 14px 9px;
			}
		}

		li {
			display: inline-block;
			width: 33.333%;
			margin-right: -4px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			vertical-align: top;
		}

		.gallery_img {
			padding: 1px;
		}
	}
}
