<!-- [D] 리스트형 btn_theme_v2 클래스 추가 -->
<!-- [D] 리스트형의 라인형 타입 추가 btn_theme_v4 -->
<!-- [D] 꽉찬형 theme_a, 라인형 theme_b -->
<div class="r">
	<div class="btn_wrap">
		<!-- [D] 모바일 편집시 input 클릭될때 a태그의 클릭이벤트 막아주세요 -->
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic"><div class="in"><input type="text" value="전화" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic2"><div class="in"><input type="text" value="상담원" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic4"><div class="in"><input type="text" value="이메일" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic5"><div class="in"><input type="text" value="지도" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic6"><div class="in"><input type="text" value="길찾기" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic7"><div class="in"><input type="text" value="자동차" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic8"><div class="in"><input type="text" value="표지판" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic9"><div class="in"><input type="text" value="이미지" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic10"><div class="in"><input type="text" value="동영상" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic11"><div class="in"><input type="text" value="글쓰기" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic12"><div class="in"><input type="text" value="게시판" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic13"><div class="in"><input type="text" value="달력" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic14"><div class="in"><input type="text" value="이벤트" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic15"><div class="in"><input type="text" value="선물" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic16"><div class="in"><input type="text" value="쿠폰" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic17"><div class="in"><input type="text" value="홈" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic18"><div class="in"><input type="text" value="PC" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic19"><div class="in"><input type="text" value="스마트폰" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic20"><div class="in"><input type="text" value="주의" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic21"><div class="in"><input type="text" value="문의" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic22"><div class="in"><input type="text" value="마이크" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic23"><div class="in"><input type="text" value="공지사항" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic24"><div class="in"><input type="text" value="스템프" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic25"><div class="in"><input type="text" value="관리자" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic26"><div class="in"><input type="text" value="더보기" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic27"><div class="in"><input type="text" value="위" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic28"><div class="in"><input type="text" value="아래" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic29"><div class="in"><input type="text" value="왼쪽" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic30"><div class="in"><input type="text" value="오른쪽" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic31"><div class="in"><input type="text" value="날씨" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic32"><div class="in"><input type="text" value="스텐드" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic33"><div class="in"><input type="text" value="밴드" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic34"><div class="in"><input type="text" value="블로그" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic35"><div class="in"><input type="text" value="포스트" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic36"><div class="in"><input type="text" value="예약" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic37"><div class="in"><input type="text" value="카페" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic39"><div class="in"><input type="text" value="페이스북" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic40"><div class="in"><input type="text" value="인스타그램" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme_v2">
			<li><a href="" class="btn btn_ic41"><div class="in"><input type="text" value="트위터" class="edit_input"><span class="ic"></span></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap theme_a">
		<!-- [D] 한줄에 버튼 갯수 2개 클래스 btn_type_v2 추가 -->
		<ul class="btn_theme_v2 btn_type_v2">
			<li><a href="" class="btn btn_ic"><div class="in"><input type="text" value="전화" class="edit_input"><span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic2"><div class="in"><input type="text" value="상담원" class="edit_input"><span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>