<!-- [D] movie 등록전 movie_default 클래스 추가 -->
<div class="movie_view movie_default"></div>
<div class="gallery_area type movie v2">
	<ul>
	<!-- [D] movie 등록전 default 클래스 추가 -->
	<li class="default">
		<!-- [D] 모바일 에디터 동영상 선택 시 selected 클래스 추가 -->
		<div class="gallery_img selected">
			<a href="javascript:setMovieURL()" class="ico_play"></a>
			<span class="ico_default"></span>
		</div>
	</li>
	</ul>
</div>
<!-- [D] movie 등록전 imgtxt_default 클래스 추가 -->
<!--div class="gallery_area imgtxt_default">
	<ul class="lst_g lst_type1">
	<li><a href="#"><div class="thmb"></div></a></li>
	</ul>
</div-->

<!-- 동영상 구성요소 수정 관련 레이어 -->
<div class="edit_layer edit_movie">
	<div class="layer_title">동영상 태그</div>
	<div class="input_box">
		<textarea class="edit_text" placeholder="동영상 URL을 입력해주세요."></textarea>
	</div>
	<div class="btn_area">
		<span class="btn"><a href="" class="confirm">확인</a></span>
	</div>
	<a href="" class="layer_close">닫기</a>
</div>
<!-- //동영상 구성요소 수정 관련 레이어 -->
