<!-- [D] 버튼 아이콘 총 22개 btn_ic ~ btn_ic22 -->
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic"><div class="in">전화<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic2"><div class="in">상담원<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic4"><div class="in">이메일<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic5"><div class="in">지도<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic6"><div class="in">길찾기<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic7"><div class="in">자동차<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic8"><div class="in">표지판<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic9"><div class="in">이미지<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic10"><div class="in">동영상<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic11"><div class="in">글쓰기<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic12"><div class="in">게시판<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic13"><div class="in">달력<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic14"><div class="in">이벤트<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic15"><div class="in">선물<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic16"><div class="in">쿠폰<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic17"><div class="in">홈<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic18"><div class="in">PC<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic19"><div class="in">스마트폰<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic20"><div class="in">주의<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic21"><div class="in">문의<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic22"><div class="in">마이크<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic23"><div class="in">공지사항<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic24"><div class="in">스템프<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic25"><div class="in">관리자<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic26"><div class="in">더보기<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic27"><div class="in">위<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic28"><div class="in">아래<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic29"><div class="in">왼쪽<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic30"><div class="in">오른쪽<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic31"><div class="in">날씨<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic32"><div class="in">스텐드<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic33"><div class="in">밴드<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic34"><div class="in">블로그<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic35"><div class="in">포스트<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic36"><div class="in">예약<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic37"><div class="in">카페<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>
<div class="r">
	<div class="btn_wrap">
		<ul class="btn_theme">
			<li><a href="" class="btn btn_ic39"><div class="in">페이스북<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic40"><div class="in">인스타그램<span class="ic"></span></div></a></li>
			<li><a href="" class="btn btn_ic41"><div class="in">트위터<span class="ic"></span></div></a></li>
		</ul>
	</div>
</div>