<!--
	[D] 이미지 공통 클래스

	이미지 타입
	1단 : type
	2단 : type2
	3단 type3
	좌우측이미지형 :type4, 좌측 : img_lft, 우측 : img_rgt
	단일형 : type5

	텍스트 크기
	작게 : sma
	중간 : nor
	크게 : big

	텍스트 정렬
	왼쪽 : align_l
	가운데 : align_c
	오른쪽 : align_r
	상단 : v_align_t
	중앙 : v_align_m
	하단 : v_align_b

	텍스트 제거 : txt_hide

	단일형 옵션
	흰색 배경 : white_bg
	검은 배경 : black_bg

	타이틀 밑줄 : txt_ul

	디폴트 이미지 : default
-->

<!-- 이미지 여러장 > 상단이미지 + 텍스트 -->
<div class="gallery_area type">
	<ul>
		<li class="default">
			<div class="gallery_img">
				<a href="javascript:alert('이미지뷰어')"><img src="http://dev.ui.naver.com/tmp/?292x200_pororo_y_FFB4B4_50" alt="임시 이미지"></a>
				<span class="ico_default"></span>
			</div>
			<div class="gallery_txt">
				<h3><span>타이틀은 20자까지 1줄로 노출가능</span></h3>
				<p>원룸형태의 세련되고 모던한 느낌의 룸입니다.원룸형태의 세련되고 모던한 느낌의 룸입니다.원룸형태의 세련되고 모던한 느낌의 룸입니다.</p>
			</div>
		</li>
		<li>
			<div class="gallery_img">
				<a href="javascript:alert('이미지뷰어')"><img src="http://dev.ui.naver.com/tmp/?292x200_pororo_y_FFB4B4_50" alt="임시 이미지"></a>
			</div>
			<div class="gallery_txt">
				<h3><span>타이틀은 20자까지 1줄로 노출가능</span></h3>
				<p>원룸형태의 세련되고 모던한 느낌의 룸입니다.원룸형태의 세련되고 모던한 느낌의 룸입니다.원룸형태의 세련되고 모던한 느낌의 룸입니다.</p>
			</div>
		</li>
	</ul>
</div>
<!-- //이미지 여러장 > 상단이미지 + 텍스트 -->
