<div class="gallery_area">
	<ul class="lst_g lst_type4">
		<li class="tx2_l">
			<a href="#">
				<div class="thmb selected">
					<div style="background-image:url(http://dev.ui.naver.com/tmp/?89x89_pororo_y_FFB4B4_50)"></div>
				</div>
			</a>
			<div class="g_tx2 tx_l t_t">
				<h3></h3>
				<span class="txt"></span>
			</div>
		</li>
		<li class="tx2_l">
			<a href="#">
				<div class="thmb">
					<div>
						<img src="http://dev.ui.naver.com/tmp/?89x89_pororo_y_FFB4B4_50" alt="임시 이미지">
					</div>
				</div>
			</a>
			<div class="g_tx2 tx_l t_m">
				<h3>타이틀은 1줄로 노출가능</h3>
				<span class="txt">텍스트</span>
			</div>
		</li>
		<li class="tx2_l">
			<a href="#">
				<div class="thmb">
					<div>
						<img src="http://dev.ui.naver.com/tmp/?89x89_pororo_y_FFB4B4_50" alt="임시 이미지">
					</div>
				</div>
			</a>
			<div class="g_tx2 tx_r t_t">
				<h3>타이틀은 1줄로 노출가능</h3>
				<span class="txt">원룸형태의 세련되고 모던한 느낌의 룸입니다.원룸형태의 세련되고 모던한 느낌의 룸입니다.원룸형태의 세련되고 모던한 느낌의 룸입니다.</span>
			</div>
		</li>
		<li class="tx2_r">
			<a href="#">
				<div class="thmb">
					<div>
						<img src="http://dev.ui.naver.com/tmp/?89x89_pororo_y_FFB4B4_50" alt="임시 이미지">
					</div>
				</div>
			</a>
			<div class="g_tx2 tx_l t_t">
				<h3>사업성공 파트너! 부동산몰</h3>
				<span class="txt"></span>
			</div>
		</li>
		<li class="tx2_r">
			<a href="#">
				<div class="thmb">
					<div>
						<img src="http://dev.ui.naver.com/tmp/?89x89_pororo_y_FFB4B4_50" alt="임시 이미지">
					</div>
				</div>
			</a>
			<div class="g_tx2 tx_l t_b">
				<h3>타이틀은 1줄로 노출가능</h3>
				<span class="txt">원룸형태의 세련되고 모던한 느낌의 룸입니다.원룸형태의 세련되고 모던한 느낌의 룸입니다.원룸형태의 세련되고 모던한 느낌의 룸입니다.</span>
			</div>
		</li>
		<li class="tx2_r">
			<a href="#">
				<div class="thmb">
					<div>
						<img src="http://dev.ui.naver.com/tmp/?89x89_pororo_y_FFB4B4_50" alt="임시 이미지">
					</div>
				</div>
			</a>
			<div class="g_tx2 tx_l t_t">
				<h3>타이틀은 1줄로 노출가능</h3>
				<span class="txt">원룸형태의 세련되고 모던한 느낌의 룸입니다.원룸형태의 세련되고 모던한 느낌의 룸입니다.원룸형태의 세련되고 모던한 느낌의 룸입니다.</span>
			</div>
		</li>
	</ul>
</div>