<!-- [D] 마크업 확인용 style 패딩값 개발적용시 삭제 부탁드립니다. -->
<div class="index_area" style="padding-top:100%">
    <div class="lst_index">
        <!-- [D] 하단 그라데이션 일때 클래스 b_s, 상단 그라데이션 t_s -->
        <div class="tile b_s" style="position:absolute;left:0;top:0">
            <a>
                <!-- [D] 모바일 에디터 이미지 수정시 selected 클래스 추가 -->
                <div class="selected">
                    <div class="shadow"></div>
                    <div class="mask"></div>
                    <span class="txt b"><span>Ocation</span></span>
                </div>
            </a>
        </div>
        <div class="tile b_s" style="position:absolute;left:33.333%;top:0">
            <a>
                <div>
                    <div class="mask"></div>
                    <div class="shadow"></div>
                    <span class="txt t"><span>Penthouse</span></span>
                </div>
            </a>
        </div>
        <div class="tile b_s" style="position:absolute;left:66.666%;top:0">
            <a>
                <div>
                    <div class="mask"></div>
                    <div class="shadow"></div>
                    <span class="txt b"><span>Natural</span></span>
                </div>
            </a>
        </div>
        <div class="tile b_s" style="position:absolute;left:0;top:33.333%;height:66.666%">
            <a>
                <div>
                    <div class="mask"></div>
                    <div class="shadow"></div>
                    <span class="txt b"><span>Runa</span></span>
                </div>
            </a>
        </div>
        <div class="tile b_s" style="position:absolute;left:33.333%;top:33.333%;width:66.666%">
            <a>
                <div>
                    <div class="mask"></div>
                    <div class="shadow"></div>
                    <span class="txt b"><span>피크닉 서울 프로젝트</span></span>
                </div>
            </a>
        </div>
        <div class="tile b_s" style="position:absolute;left:33.333%;top:66.666%">
            <a>
                <div>
                    <div class="mask"></div>
                    <div class="shadow"></div>
                    <span class="txt b"><span>피크닉 서울 프로젝트</span></span>
                </div>
            </a>
        </div>
        <div class="tile b_s" style="position:absolute;left:66.666%;top:66.666%">
            <a>
                <div>
                    <div class="mask"></div>
                    <div class="shadow"></div>
                    <span class="txt b"><span>피크닉 서울 프로젝트</span></span>
                </div>
            </a>
        </div>
    </div>
</div>