<div class="gallery_area type movie">
	<div data-role="movieV2" id="movieV2" vid="TDsMi47X_tg" thumbnail="http://i.ytimg.com/vi/TDsMi47X_tg/hqdefault.jpg" outkey="" type="youtube">
	<span></span>
	</div>
	<ul>
	<li>
		<!-- [D] 모바일 에디터 동영상 선택 시 selected 클래스 추가 -->
		<div class="gallery_img selected">
			<a href="javascript:setMovieURL()" class="ico_play">
				<img src="http://i.ytimg.com/vi/EiVmQZwJhsA/hqdefault.jpg" alt="">
			</a>
			<span class="ico_default"></span>
		</div>
		<div class="gallery_txt">
			<h3></h3>
			<p></p>
		</div>
	</li>
	</ul>
</div>

<!-- 데이터 등록되지 않음 - movie_default 클래스 추가 -->
<div class="movie_view movie_default"></div>
<div class="gallery_area type movie v2">
	<ul>
	<!-- [D] movie 등록전 default 클래스 추가 -->
	<li class="default">
		<!-- [D] 모바일 에디터 동영상 선택 시 selected 클래스 추가 -->
		<div class="gallery_img selected">
			<a href="javascript:setMovieURL()" class="ico_play"></a>
			<span class="ico_default"></span>
		</div>
	</li>
	</ul>
</div>
<!-- //데이터 등록되지 않음 -->
<!--div class="gallery_area imgtxt_default">
	<ul class="lst_g lst_type1">
	<li><a href="#"><div class="thmb"></div></a></li>
	</ul>
</div-->
