<div class="view_table bdr_table">
	<table class="tx_a_c tx_v_m" border="1" cellspacing="0" summary="표 입력">
		<tbody>
			<tr>
				<!-- [D] 배경 추가시 t_bg 클래스 추가 -->
				<th class="t_bg" style="width:12.5%">&nbsp;</th>
				<th class="t_bg" style="width:12.5%">&nbsp;</th>
				<th class="t_bg" style="width:12.5%">&nbsp;</th>
				<th class="t_bg" style="width:12.5%">&nbsp;</th>
			</tr>
			<tr>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
			</tr>
			<tr>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
			</tr>
			<tr>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
			</tr>
			<tr>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
			</tr>
			<tr>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
				<td style="width:12.5%">&nbsp;</td>
			</tr>
		</tbody>
	</table>
	<span class="ico_zoom">확대</span>
</div>

<!-- 데이터 등록 전 -->
<div class="view_table bdr_table table_default">
	<span class="ico_zoom">확대</span>
	<span class="ico_default"></span>
</div>
<!-- //데이터 등록 전 -->
