<!--
	[D] 텍스트 공통 클래스
	타입
	제목형 : <h4> (최대 40자)
	본문형 : <p>
	목록형 : <ul><li>

	공통 정렬
	왼쪽 : align_l
	가운데 : align_c
	오른쪽 : align_r

	간격(타이틀,본문)
	하단 간격 : b_space

	타이틀 색상 = color1~color6

	본문 색상 = color1~color3

	제목형 폰트 크기 = 작게 : sma

	목록형
	번호형 : num
	기호형 : dot
-->

<!-- 목록형 텍스트 -->
<div class="txt_box">
	<div class="txt_component align_l num">
		<ul>
			<li>
				<span class="f_h">11</span>
				<span class="t_b">왼쪽 정렬되는 숫자형 리스트 : align_l, num 왼쪽 정렬되는 숫자형 리스트 : align_l, num</span>
			</li>
			<li>
				<span class="f_h">12</span>
				<span class="t_b">왼쪽 정렬되는 숫자형 리스트 : align_l, num 왼쪽 정렬되는 숫자형 리스트 : align_l, num</span>
			</li>
			<li>
				<span class="f_h">13</span>
				<span class="t_b">왼쪽 정렬되는 숫자형 리스트 : align_l, num 왼쪽 정렬되는 숫자형 리스트 : align_l, num</span>
			</li>
		</ul>
	</div>
	<div class="txt_component align_c num">
		<ul>
			<li>
				<span class="f_h">21</span>
				<span class="t_b">가운데 정렬되는 숫자형 리스트 : align_c num</span>
			</li>
		</ul>
	</div>
	<div class="txt_component align_r num">
		<ul>
			<li>
				<span class="f_h">31</span>
				<span class="t_b">오른쪽 정렬되는 숫자형 리스트 : align_r, num</span>
			</li>
			<li>
				<span class="f_h">32</span>
				<span class="t_b">오른쪽 정렬되는 숫자형 리스트 : align_r, num</span>
			</li>
		</ul>
	</div>
	<div class="txt_component align_l dot">
		<ul>
			<li>
				<span class="f_h">41</span>
				<span class="t_b">왼쪽 정렬되는 도트형 리스트 : align_l, dot</span>
			</li>
		</ul>
	</div>
	<div class="txt_component align_c dot">
		<ul>
			<li>
				<span class="f_h">51</span>
				<span class="t_b">가운데 정렬되는 도트형 리스트 : align_c, dot</span>
			</li>
		</ul>
	</div>
	<div class="txt_component align_r dot">
		<ul>
			<li>
				<span class="f_h">61</span>
				<span class="t_b">오른쪽 정렬되는 도트형 리스트 : align_r, dot</span>
			</li>
		</ul>
	</div>
</div>
<!-- //목록형 텍스트 -->
