<!--
	[D] 텍스트 공통 클래스
	타입
	제목형 : <h4> (최대 40자)
	본문형 : <p>
	목록형 : <ul><li>

	공통 정렬
	왼쪽 : align_l
	가운데 : align_c
	오른쪽 : align_r

	간격(타이틀,본문)
	하단 간격 : b_space

	타이틀 색상 = color1~color6

	본문 색상 = color1~color3

	제목형 폰트 크기 = 작게 : sma

	목록형
	번호형 : num
	기호형 : dot
-->

<!-- 본문형 텍스트 -->
<div class="txt_box">
	<div class="txt_component align_l">
		<p>매일 어떤 순간을 꿈꾸시나요? 누구나 낭만적이고 행복한 시간을 기다립니다. 그런 '꿈'이 이루어지는 곳을 만들고 싶어 로뎀 하우스를 짓기로 마음 먹었습니다.</p>
	</div>
	<div class="txt_component align_l">
		<p>왼쪽 정렬되는 본문형 : align_l</p>
	</div>
	<div class="txt_component align_c">
		<p>가운데 정렬되는 본문형 : align_c</p>
	</div>
	<div class="txt_component align_r">
		<p>오른쪽 정렬되는 본문형 : align_r</p>
	</div>
	<div class="txt_component align_l b_space">
		<p>하단간격 있는 본문형 : b_space</p>
	</div>
	<div class="txt_component align_l color1">
		<p>색상 지정된 본문형 : color1~color3</p>
	</div>
</div>
<!-- //본문형 텍스트 -->
