<!--
	[D] 텍스트 공통 클래스
	타입
	제목형 : <h4> (최대 40자)
	본문형 : <p>
	목록형 : <ul><li>

	공통 정렬
	왼쪽 : align_l
	가운데 : align_c
	오른쪽 : align_r

	간격(타이틀,본문)
	하단 간격 : b_space

	타이틀 색상 = color1~color6

	본문 색상 = color1~color3

	제목형 폰트 크기 = 작게 : sma

	목록형
	번호형 : num
	기호형 : dot
-->

<!-- 타이틀 텍스트 -->
<div class="txt_box">
	<div class="txt_component align_l">
		<h4>왼쪽 정렬되는 작은 타이틀 : align_l</h4>
	</div>
	<div class="txt_component align_c">
		<h4>가운데 정렬되는 타이틀 : align_c</h4>
	</div>
	<div class="txt_component align_r">
		<h4>오른쪽 정렬되는 타이틀 : align_r</h4>
	</div>
	<div class="txt_component align_l b_space">
		<h4>하단간격 있는 타이틀 : b_space</h4>
	</div>
	<div class="txt_component align_l color1">
		<h4>색상 지정된 타이틀 : color1~5</h4>
	</div>
	<div class="txt_component align_l sma">
		<h4>작은타이틀 : sma</h4>
	</div>
</div>
<!-- //타이틀 텍스트 -->