@charset "utf-8";

%default-imgage{
	background-color:$default-imgage-bg;

	.ico_default{
		position:absolute;
		left:50%;
		top:50%;
	}
}

%limit-notice{
	padding:90px 0 110px;
	text-align:center;
	font-size:16px;
	line-height:22px;
	color:#222;
	letter-spacing:-1px;

	p{
		&:before{
			display:block;
			margin:0 auto 15px;
			content:'';
		}
	}
}

%ellipsis{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}